@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-image: url('~/Content/themes/base/images/pngtree-summer-atmosphere-restaurant-supermarket-vegetable-psd-layered-promotion-background-picture-image_1098004.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; /* This keeps the background fixed when scrolling */
            margin: 0; /* Remove default margin to fill the whole viewport */
            padding: 0; /* Remove default padding to fill the whole viewport */
            background-color: antiquewhite;
        }

        main {
        }
    </style>
</head>
<body>
    <main>
        <img src="~/Content/themes/base/images/pngtree-summer-atmosphere-restaurant-supermarket-vegetable-psd-layered-promotion-background-picture-image_1098004.jpg" />
    </main>
</body>
</html>
